.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

/* shared design  */
/* section{
  margin: 50px 230px 50px 230px;

} */

.section-heading{
  font-size:35px ;
  font-weight: bold;
  color: #181818;
  text-align: center;
}
.section-description{
  font-size:18px ;
  color: #757575;
  text-align: center;
}
.color-dark-3 {
  color: #757575;
}

.color-dark-2 {
  color: #474747;
}

.color-dark-1 {
  color: #181818;
}

.section-bg {
  background-color: #FFF8F3;
}

.btn {
  padding: 15px 30px;
  background-color: purple;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* nav style */
.header-secondary-bg {
  background-color: #FFF8F3;
}

header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  gap: 60px;
}

nav h3 {
  font-size: 45px;
  font-weight: 800;

}

nav li a {
  text-decoration: none;

}

nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

header {
  background-image: url('../assets/developer.png'), url('../assets/header_bg.png');
  background-repeat: no-repeat;
  /* background position korlam */
  background-position: top left, bottom right;
}


/* banner style */
#banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
  align-items: center;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin: 0;

}

.banner-description {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 64px;
}

/* main design starts from here!
main{
  margin: 0 230px;

}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
}  */
main{
  margin: 0 230px;

}

main section{
  margin-top: 130px;
  margin-bottom: 130px;
}

.about-container{
  padding: 130px 150px;
  border-radius: 16px;
}
.about-options{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* skills section design  */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill-box{
  /* border: 2px solid red; */
  box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
 padding: 40px;
 border-radius: 5px;
}
.skills-container h2{
  font-size: 20px;
  font-weight: bold;
}
.skills-container p{
  font-size: 16px;
  color: #757575;
}


/* designing resume  */
.resume-container{
  display: flex;
  gap: 40px;
}
.resume-left-side h1{
  font-size: 30px;
  font-weight: bold;
}
.resume-left-side h4{
  font-size: 25px;
  font-weight:600;
}
.resume-left-side h5{
  font-size: 20px;
  font-weight:bold;
}
.resume-left-side p{
  font-size: 16px;
}



.resume-right-side h1{
  font-size: 30px;
  font-weight: bold;
}
.resume-right-side h4{
  font-size: 25px;
  font-weight:600;
}
.resume-right-side h5{
  font-size: 20px;
  font-weight:bold;
}
.resume-right-side p{
  font-size: 16px;
}
.resume-download-cv{
  margin-top: 30px;
  text-align: center;
}


/* footer design  */
.footer{
  display: flex;
  margin: 130px 230px;
}
.footer-left h1{
font-size: 35px;
font-weight: bold;
}
.footer-left p{
  font-size: 16px;
  /* font-weight:  */
}